.banner{
width:fit-content;
margin:auto;
border: thin solid black;
padding: 0%;


}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;





}